extends ../layouts/default

block variables
	- const title = "Project title"

block content
	//- Site Header
	include ../modules/header/header

	//- Site Header
	include ../modules/footer/footer
block scripts