.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: green;
    font-family: system-ui;

    @media screen and (min-width: $sm-desktop-width) {
        background-color: yellow;
    }
}